/* fonts */
@font-face {
  font-family: LatinModernMono;
  src: url("../assets/fonts/lmmono10-regular.otf") format("opentype");
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* end boilerplate */

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: LatinModernMono, "Courier New", Courier, monospace;
  color: rgb(203, 203, 203);
  /* font-weight: bold; */
  background: black;
  animation: bgFade 1s ease forwards 0.5s;
}

@keyframes bgFade{
  from{
    background: black;
  }
  to{
    background: rgb(9, 0, 44);
  }

}

h1 {
  color: rgb(229, 229, 229);
}

a {
  display: inline-block;
}

.main-container {
  min-height: 92%;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards 0.5s ease;
}

.tagline {
  font-size: 13px;
  margin-top: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-container {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  justify-content: center;
  /* align-items: center; */
}

.colA {
  text-align: right;
}

.colB {
  border-left: 1px solid white;
  margin-left: 20px;
  width: 300px;
}

a,
a.visited {
  color: inherit;
  text-decoration: none;
  transition: all 1s ease;
}

button {
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding-left: 10px;

  padding-bottom: 10px;
}

li.yr {
  padding-left: 0;
}

ul {
  padding-left: 15px;
}

.social-links {
  display: none;
  position: absolute;
}

.social-links li {
  list-style: circle;
}

.social-container:hover .social-links {
  display: block;
}

footer {
  text-align: center;
}

h1{
  margin-top: -8px;
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }
  .colA {
    text-align: center;
    margin-bottom: 10px;
  }

  h1{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .colB {
    text-align: left;
    width: 320px;
    border-left: none;
    /* border-top: 1px solid white; */
    margin-left: 0;
    padding-top: 12px;
  }

  .social-links {
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .li {
    margin: 8px;
  }

  .social-links li {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }

  .tagline {
    margin-top: 4px;
  }
}
